{% extends 'shop/base.html' %}
{% load static %}

{% block title %}Change Password{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'accounts/assets/css/style.css' %}">
{% endblock %}
{% block body %}
<main>
    <section class="checkout profile pb-0">
        <form action="{% url 'change_password' %}" method="POST">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="billing-details">
                            <h2>Change Password</h2>
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <p class="description">Keep your account secure by choosing a strong password.</p>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="currentpassword" class="form-label required">Current Password</label>
                                    <div class="position-relative">
                                        <input type="password" class="form-control" id="currentpassword" placeholder="Current Password" name="current_password" autocomplete="current-password">
                                        <i class="bi bi-eye-fill view-password"></i>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="newpassword" class="form-label required">New Password</label>
                                    <div class="position-relative">
                                        <input type="password" class="form-control" id="newpassword" placeholder="New Password" name="new_password">
                                        <i class="bi bi-eye-fill view-password"></i>
                                    </div>
                                    <div class="password-indicator mb-4">
                                        <p class="mb-0">Password Strength: <span id="passwordStrength">Weak</span></p>
                                        <ul class="d-flex align-items-center strength-bars">
                                            <li id="bar1" class="blank-space"></li>
                                            <li id="bar2" class="blank-space"></li>
                                            <li id="bar3" class="blank-space"></li>
                                            <li id="bar4" class="blank-space"></li>
                                            <li id="bar5" class="blank-space"></li>
                                            <li id="bar6" class="blank-space"></li>
                                        </ul>
                                    </div>
                                    <ul class="password-instructions">
                                        <li id="rule-length">
                                            <i class="bi bi-x-circle text-danger"></i>
                                            At least 8 characters
                                        </li>

                                        <li id="rule-uppercase">
                                            <i class="bi bi-x-circle text-danger"></i>
                                            One uppercase letter
                                        </li>

                                        <li id="rule-number">
                                            <i class="bi bi-x-circle text-danger"></i>
                                            One number
                                        </li>

                                        <li id="rule-special">
                                            <i class="bi bi-x-circle text-danger"></i>
                                            One special character
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="confirmpassword" class="form-label required">Confirm Password</label>
                                    <div class="position-relative">
                                        <input type="password" class="form-control" id="confirmpassword" placeholder="Confirm Password" name="confirm_password">
                                        <i class="bi bi-eye-fill view-password"></i>
                                    </div>
                                </div>
                                <div class="col-12 mt-5">
                                    <button type="submit" class="save-btn primary-btn ms-auto"><i class="bi bi-floppy"></i> Change Password</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</main>
{% endblock %}

{% block js %}
<script>
    document.querySelectorAll(".view-password").forEach(function(icon){

        icon.addEventListener("click",function(){
            let input=this.previousElementSibling;
            if(input.type=="password"){
                input.type="text";
                this.classList.remove("bi-eye-fill");
                this.classList.add("bi-eye-slash-fill");
            }
            else{
                input.type="password";
                this.classList.remove("bi-eye-slash-fill");
                this.classList.add("bi-eye-fill");
            }
        });
    });

    const password=document.getElementById("newpassword");

    password.addEventListener("input", function(){
        const value = this.value;
        let score = 0

        if(value.length>=8){
            score ++;
            updateRule("rule-length",true);
        }else{
             updateRule("rule-length",false);
        }

        if(/[A-Z]/.test(value)){
            score++;
            updateRule("rule-uppercase", true);
        }else{
            updateRule("rule-uppercase",false);
        }

        if(/\d/.test(value)){
            score++;
            updateRule("rule-number", true);
        }else{
            updateRule("rule-number", false);
        }

        if(/[!@#$%^&*(),.?":{}|<>]/.test(value)){
            score++;
            updateRule("rule-special", true);
        }else{
            updateRule("rule-special", false);
        }
        updateStrength(score);
    })

    function updateRule(id,status){

        const rule=document.getElementById(id);
        const icon=rule.querySelector("i");

        if(status){
            icon.className="bi bi-check-circle-fill text-success";
        }
        else{
            icon.className="bi bi-x-circle text-danger";
        }
    }

    function updateStrength(score){

        const text=document.getElementById("passwordStrength");
        const bars=document.querySelectorAll(".strength-bars .blank-space");

        bars.forEach(bar=>{
            bar.classList.remove("active");
        });
        if(score==0){
            text.innerHTML="Weak";
            text.className="weak";
        }
        else if(score<=2){
            text.innerHTML="Weak";
            text.className="weak";

            bars[0].classList.add("active");
            bars[1].classList.add("active");
        }
        else if(score==3){
            text.innerHTML="Medium";
            text.className="medium";

            bars[0].classList.add("active");
            bars[1].classList.add("active");
            bars[2].classList.add("active");
            bars[3].classList.add("active");
        }
        else{
            text.innerHTML="Strong";
            text.className="strong";

            bars.forEach(bar=>{
                bar.classList.add("active");
            });
        }
    }

</script>
{% endblock %}