{% extends 'shop/base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block body %}
<main>
    <section class="checkout profile pb-0">
        <form method="POST" enctype="multipart/form-data">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="billing-details">
                            <h2>My Profile</h2>
                            <div class="row">
                                {% csrf_token %}
                                <div class="col-lg-3 mb-4">
                                    <div class="profile-img mb-2">
                                        <img id="previewImage" src="{% if user.profile_image %}{{ user.profile_image.url }}{% else %}{% static 'accounts/assets/img/user.png' %}{% endif %}" class="img-fluid" alt="">
                                    </div>
                                    <h5 class="text-center">Vikas Garg</h5>
                                    <label for="profileImage" class="btn primary-btn mt-3 m-auto">
                                    <input type="file" id="profileImage" name="profile_image" accept="image/*" hidden>
                                    <i class="bi bi-camera"></i> Upload Photo
                                    </label>
                                </div>
                                <div class="col-lg-9">
                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <label for="FirstName" class="form-label required">First Name</label>
                                            <input type="text" class="form-control" id="FirstName" placeholder="First Name" name="first_name" value="{{ user.first_name }}">
                                            {% if errors.firstname %}
                                                <small class="text-danger">
                                                    {{ errors.firstname }}
                                                </small>
                                            {% endif %}
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="LastName" class="form-label required">Last Name</label>
                                            <input type="text" class="form-control" id="LastName" placeholder="Last Name" name="last_name" value="{{ user.last_name }}">
                                            {% if errors.lastname %}
                                                <small class="text-danger">
                                                    {{ errors.lastname }}
                                                </small>
                                            {% endif %}
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="Email" class="form-label required">Email (Cannot be changed)</label>
                                            <input type="email" class="form-control" id="Email" placeholder="Email" name="email" value="{{ user.email }}" readonly>
                                            {% if errors.email %}
                                                <small class="text-danger">
                                                    {{ errors.email }}
                                                </small>
                                            {% endif %}
                                        </div>
                                        <div class="col-md-6 mb-5">
                                            <label for="Phone" class="form-label required">Phone</label>
                                            <input type="tel" class="form-control" id="Phone" placeholder="Phone" name="phone" value="{{ user.phone }}">
                                            {% if errors.phone %}
                                                <small class="text-danger">
                                                    {{ errors.phone }}
                                                </small>
                                            {% endif %}
                                        </div>
                                        <div class="col-12 pt-5">
                                            <button type="submit" class="save-btn primary-btn ms-auto"><i class="bi bi-floppy"></i> Save Changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
    <section class="checkout password-section">
        <form method="POST">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="billing-details">
                            <h2>Security</h2>
                            <div class="row align-items-center">
                                {% csrf_token %}
                                <div class="col-lg-4 mb-lg-0 mb-3">
                                    
                                    <p class="mb-2">Current Password</p>
                                    <p class="mb-2">••••••••••••</p>
                                    <p class="info-text">Last Changed : 18 Jul 2026</p>
                                    <a href="{% url 'change_password' %}" class="save-btn primary-outline-btn"><i class="bi bi-lock"></i> Change Password</a>
                                
                                </div>
                                <div class="col-lg-8">
                                    <div class="security-tips">
                                        <h6>🔒 Security Tips</h6>
                                        {% comment %} <p class="mb-1">For your security, please use a strong password.</p>
                                        <p class="mb-0">We recommend using a combination of letters, numbers and symbols.</p> {% endcomment %}
                                        <ul class="mb-0">
                                            <li>Use a strong password</li>
                                            <li>Never share your password</li>
                                            <li>Change it regularly</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</main>
{% endblock %}

{% block js %}
<script>
    document.getElementById("profileImage").addEventListener("change", function (e) {
    const file = e.target.files[0];
    if (!file) return;
    document.getElementById("previewImage").src = URL.createObjectURL(file);

});
</script>
{% endblock %}