:root {
    --primary-color: #2bbef9;
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Dosis", sans-serif;
    --white: #ffffff;
    --black: #000000;
    --muted-text: #5b5b62;
    --red: #ee0000;
}

body {
    font-family: var(--primary-font);
}

section {
    padding: 40px 0;
}

main {
    margin-top: 72px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 30px;
}

.section-header h2 {
    font-size: 1.25rem;
    font-weight: 600;
    font-family: var(--secondary-font);
    margin-bottom: 0px;
}

.section-header p {
    color: #9b9bb4;
    margin-top: 2px;
    font-size: 0.75rem;
    margin-bottom: 0px;
}

.view-all-btn {
    border: 1px solid #d9d9e9;
    padding: 10px 24px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 0.75rem;
    color: #71778e;
}

.products-wrapper {
    position: relative;
    border: 1px solid #e6e6e6;
    border-radius: 12px;
    overflow: hidden;
}

.product-info {
    padding: 0 1.25rem 1.25rem;
}

.product-card {
    border-right: 1px solid #edeef5;
    position: relative;
    background: #fff;
    height: 100%;
}

.featured-products .swiper-slide:nth-child(6n) .product-card {
    border-right: 0;
}

.products-wrapper .swiper-slide:last-child .product-card {
    border-right: 0;
}

.out-of-stock-product {
    opacity: 0.5;
}

.product-card.out-of-stock-product h3 a,
.product-card.out-of-stock-product .price {
    color: #999;
}

.discount-badge {
    position: absolute;
    top: 20px;
    left: 20px;
    background: #ff0000;
    color: #fff;
    padding: .375rem .625rem;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 700;
    font-family: var(--secondary-font);
    max-height: 1.5rem;
    display: flex;
    align-items: center;
}

.navbar {
    padding: 16px 4px;
}

.product-image {
    text-align: center;
    padding: 1.25rem;

}

.product-image img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.product-card h3 {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 6px;
    font-family: var(--primary-font);
    min-height: 40px;
}

.product-card h3 a {
    color: #202435;
    text-decoration: none;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-inline-box;
}

.stock,
.badge {
    font-family: var(--secondary-font);
    font-weight: 600;
    display: inline-block;
    margin-bottom: 4px;
    font-size: .75rem;
    background: #e8f8ed;
    color: #198754;
    padding: 2px 8px;
    border-radius: 4px;
}

.stock.orange-badge {
    background: #fff4e5;
    color: #ff6f00;
}

.badge {
    min-height: 22px;
    color: var(--white);
    display: inline-flex;
    align-items: center;
}

.rating {
    color: #f8b400;
    margin-bottom: 4px;
}

.rating span {
    color: #71778e;
    font-size: .7325rem;
}

.price-box {
    margin-bottom: 15px;
}

.old-price {
    color: #cacaca;
    text-decoration: line-through;
    margin-right: 5px;
    font-size: 15px;
    font-family: var(--secondary-font);
}

.price {
    color: #d51243;
    font-size: 1.1rem;
    font-weight: 700;
    font-family: var(--secondary-font);
}

.cart-btn {
    width: 100%;
    border: 1px solid transparent;
    background: transparent;
    color: #2bbef9;
    padding: 0.25rem 1.25rem;
    border-radius: 50px;
    font-size: .75rem;
    cursor: pointer;
    transition: .3s;
    height: 2.125rem;
    font-weight: 600;
}

.cart-btn:hover {
    background: #2bbef9;
    color: #fff;
}

.nav-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #ddd;
    background: white;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.prev {
    left: -25px;
}

.next {
    right: -25px;
}

.product-details h1 {
    font-size: 1.5rem;
    font-weight: 600;
}

.product-details p {
    font-size: .8125rem;
    font-weight: 400;
    color: #3e445a;
}

.product-details {
    background-color: #fafafa;
}

.product-container {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 2rem;
}

.product-details .price-box .old-price {
    font-size: 1.1rem;
}

.product-details .price-box .price {
    font-size: 1.4rem;
}

.product-details .stock {
    color: #00b853;
    text-transform: uppercase;
    background-color: #ddffec;
    display: inline-block;
    font-family: var(--secondary-font);
    font-weight: 700;
    padding: 4px 12px;
    margin-bottom: 4px;
    font-size: .75rem;
    letter-spacing: 0.6px;
    border-radius: 12px;
}

.cart-btn-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #2bbef9;
    border-radius: 40px;
}

.cart-btn-container.out-of-stock {
    border: 2px solid #ff0000;
}

.cart-btn-container.out-of-stock .notify-me-text {
    width: 100%;
    text-align: center;
    color: #ff0000;
    border-radius: 40px;
    border: 0px solid transparent;
    padding: 0.25rem 1.25rem;
    background-color: transparent;
}

.cart-container {
    box-shadow: 0px 5px 10px rgba(62, 68, 90, 0.1);
    width: 24rem;
    position: absolute;
    top: 56px;
    right: 0px;
    z-index: 9999;
    background-color: white;
    border: 1px solid #edeef5;
    border-radius: 8px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
}

.cart-container.active {
    opacity: 1;
    visibility: visible;
}

.cart-btn-container button.decrement-btn,
.cart-btn-container button.increment-btn {
    background-color: #2bbef9;
    color: var(--white);
    border: 0px;
    padding: 4px;
    width: 34px;
    height: 34px;
    border-radius: 25px;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
}

.cart-item-btn {
    background-color: #3e3e3e;
    width: 40px;
    height: 40px;
    border: 0px solid transparent;
    border-radius: 40px;
    position: relative;
}

.cart-item-btn span {
    background-color: red;
    width: 24px;
    display: inline-flex;
    height: 24px;
    position: absolute;
    border-radius: 50%;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    top: -8px;
    right: -8px;
}

.billing-details {
    border: 1px solid #edeef5;
    padding: 2rem;
    border-radius: 8px;
}

.billing-details h2,
.order-box h2,
.cart-total h2 {
    font-family: var(--secondary-font);
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 1px solid #efefef;
    padding-bottom: 12px;
    margin-bottom: 24px;
}

form label {
    font-size: .8125rem;
    color: #202435;
}

.divider {
    border-bottom: 1px solid #efefef;
    padding-bottom: 16px;
    margin-bottom: 16px;
}

.divider-dashed {
    border-bottom: 1px dashed #efefef;
    padding-bottom: 16px;
    margin-bottom: 16px;
}

input.form-control,
select,
input.form-control:focus,
select:focus {
    font-size: .9375rem !important;
    color: #202435 !important;
    background-color: #f3f4f7 !important;
    height: 2.75rem;
    border: 0px solid !important;
}

textarea:focus,
textarea {
    font-size: .9375rem;
    color: #202435;
    background-color: #f3f4f7;
    border: 0px solid;
    resize: none;
}

.close-btn {
    background-color: transparent;
    border: 0px solid transparent;
    width: 28px;
    height: 28px;
    color: red;
    cursor: pointer;
    font-size: 18px;
}

.cart-product {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #80808040;
    padding: 8px;
}

.no-item-text {
    color: var(--muted-text);
    text-align: center;
}

#cartContainer .no-item-text {
    height: 17rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-container .cart-products {
    height: 18.15rem;
    overflow-y: auto;
}

.cart-container .cart-footer .view-cart-btn {
    background-color: var(--white);
    color: var(--primary-color);
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    padding: 8px;
    font-weight: 500;
    border-radius: 8px;
    border: 2px solid var(--primary-color);
    text-decoration: none;
    text-align: center;
    margin-bottom: 12px;
}

.cart-container .cart-footer .checkout-btn {
    background-color: var(--red);
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    padding: 8px;
    font-weight: 500;
    border-radius: 8px;
    border: 0px solid black;
    color: var(--white);
    text-decoration: none;
    text-align: center;
}

.cart-container .cart-footer {
    padding: 16px;
}

.cart-footer .cart-product h5,
.cart-product h5 a {
    color: var(--black);
    font-size: 0.875rem;
    text-decoration: none;
}

.cart-product p {
    margin-bottom: 0px;
    color: var(--black);
    font-size: 0.875rem;
}

.cart-product .cart-img {
    width: 80px;
    height: 80px;
    min-width: 80px;
    margin-right: 8px;
}

.cart-product .cart-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cart-product span {
    margin-bottom: 0px;
    color: var(--black);
    font-size: 0.875rem;
}

table thead th {
    font-size: .75rem;
    font-weight: 600;
    color: #71778e !important;
    text-transform: uppercase;
}

table tbody tr td {
    font-size: .875rem;
    font-weight: 400;
    color: #212529 !important;
    vertical-align: middle;
}

.cart span.total {
    font-size: 1.25rem;
    font-weight: 600;
}

.cart .increment-btn,
.cart .decrement-btn {
    background-color: #edeef5;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 0px solid transparent;
    font-weight: 400;
    font-size: 20px;
}

.product-qty-count {
    min-width: 20px;
    display: inline-flex;
    width: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.cart-list .product-title {
    max-width: 300px;
}

.checkout-btn {
    background-color: #0e0080;
    display: inline-block;
    text-decoration: none;
    color: var(--white);
    width: 100%;
    text-align: center;
    padding: 8px;
    border-radius: 8px;
}

.shopping-btn {
    background-color: #0e0080;
    display: inline-block;
    text-decoration: none;
    color: var(--white);
    text-align: center;
    padding: 8px 24px;
    border-radius: 8px;
}

.cart-total {
    border: 1px solid #e4e5ee;
    padding: 20px;
}

.order-box {
    border: 2px solid #233a95;
    border-radius: 8px;
    padding: 30px;
    top: 80px;
}

.order-box .product-item p {
    font-size: .8125rem;
    font-family: var(--primary-font);
    max-width: 50%;
    width: 50%;
}

.order-box .product-item,
.order-box .total,
.order-box .shipping,
.order-box .tax,
.order-box .subtotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-box .total p,
.order-box .shipping p,
.order-box .tax p,
.order-box .subtotal p {
    font-size: .8125rem;
    font-weight: 600;
    color: #71778e;
}

.order-box .shipping span,
.order-box .tax span,
.order-box .subtotal span {
    font-size: .875rem;
}

.order-box .total p {
    font-size: 1.25rem;
}

.order-box .total span {
    font-size: 1.5rem;
    font-weight: 600;
}

.payment-method label {
    font-size: .8125rem;
}

.agreement label {
    font-size: .75rem;
}

.place-order-btn button {
    background-color: #ed174a;
    color: white;
    width: 100%;
    padding: 0.5rem;
    font-size: 1.125rem;
    border-radius: 8px;
    border: 0px solid;
    height: 48px;
}

.order-box .total {
    font-size: 1.25rem;
    font-weight: 600;
}

.order-box .product-item span {
    font-size: .9375rem;
    font-family: var(--primary-font);
}

.required::after {
    content: " *";
    color: red;
}

@media(max-width:768px) {

    .section-header {
        flex-direction: column;
        gap: 15px;
        align-items: flex-start;
    }
}