:root {
    --primary-color: #e6003d;
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Dosis", sans-serif;
    --white: #ffffff;
}

body {
    font-family: var(--primary-font);
}

section {
    padding: 40px 0;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 30px;
}

.section-header h2 {
    font-size: 1.25rem;
    font-weight: 600;
    font-family: var(--secondary-font);
    margin-bottom: 0px;
}

.section-header p {
    color: #9b9bb4;
    margin-top: 2px;
    font-size: 0.75rem;
    margin-bottom: 0px;
}

.view-all-btn {
    border: 1px solid #d9d9e9;
    padding: 10px 24px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 0.75rem;
    color: #71778e;
}

.products-wrapper {
    position: relative;
    border: 1px solid #e6e6e6;
    border-radius: 12px;
    overflow: hidden;
}

.product-info {
    padding: 0 1.25rem 1.25rem;
}

.product-card {
    border-right: 1px solid #edeef5;
    position: relative;
    background: #fff;
    height: 100%;
}

.featured-products .swiper-slide:nth-child(5n) .product-card {
    border-right: 0;
}

.product-card:last-child {
    border-right: 0;
}

.discount-badge {
    position: absolute;
    top: 20px;
    left: 20px;
    background: #2bbef9;
    color: #fff;
    padding: .275rem .75rem;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
    font-family: var(--secondary-font);
    max-height: 1.5rem;
    display: flex;
    align-items: center;
}

.navbar {
    padding: 16px 4px;
}

.product-image {
    text-align: center;
    padding: 1.25rem;

}

.product-image img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.product-card h3 {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 6px;
    font-family: var(--primary-font);
    min-height: 40px;
}

.product-card h3 a {
    color: #202435;
    text-decoration: none;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-inline-box;
}

.stock {
    color: #00b853;
    font-size: 14px;
    font-family: var(--secondary-font);
    font-weight: 600;
    display: block;
    margin-bottom: 4px;
    font-size: .6875rem;
}

.rating {
    color: #f8b400;
    margin-bottom: 4px;
}

.rating span {
    color: #71778e;
    font-size: .7325rem;
}

.price-box {
    margin-bottom: 15px;
}

.old-price {
    color: #c2c2d3;
    text-decoration: line-through;
    margin-right: 5px;
    font-size: 15px;
    font-family: var(--secondary-font);
}

.price {
    color: #d51243;
    font-size: 1.1rem;
    font-weight: 600;
    font-family: var(--secondary-font);
}

.cart-btn {
    width: 100%;
    border: 1px solid transparent;
    background: transparent;
    color: #2bbef9;
    padding: 0.25rem 1.25rem;
    border-radius: 50px;
    font-size: .75rem;
    cursor: pointer;
    transition: .3s;
    height: 2.125rem;
    font-weight: 600;
}

.cart-btn:hover {
    background: #2bbef9;
    color: #fff;
}

.nav-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #ddd;
    background: white;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.prev {
    left: -25px;
}

.next {
    right: -25px;
}

.product-details h1 {
    font-size: 1.5rem;
    font-weight: 600;
}

.product-details p {
    font-size: .8125rem;
    font-weight: 400;
    color: #3e445a;
}

.product-details {
    background-color: #fafafa;
}

.product-container {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 2rem;
}

.product-details .price-box .old-price {
    font-size: 1.1rem;
}

.product-details .price-box .price {
    font-size: 1.4rem;
}

.product-details .stock {
    color: #00b853;
    text-transform: uppercase;
    background-color: #ddffec;
    display: inline-block;
    font-family: var(--secondary-font);
    font-weight: 700;
    padding: 4px 12px;
    margin-bottom: 4px;
    font-size: .75rem;
    letter-spacing: 0.6px;
    border-radius: 12px;
}

.cart-btn-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #2bbef9;
    border-radius: 40px;
}

.cart-container {
    box-shadow: 0px 5px 10px rgba(62, 68, 90, 0.1);
    min-width: 18rem;
    min-height: 18rem;
    position: absolute;
    top: 56px;
    right: 0px;
    z-index: 9999;
    background-color: white;
    overflow-y: auto;
    border: 1px solid #edeef5;
    border-radius: 8px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
}

.cart-container.active {
    opacity: 1;
    visibility: visible;
}

.cart-btn-container button.decrement-btn,
.cart-btn-container button.increment-btn {
    background-color: #2bbef9;
    color: var(--white);
    border: 0px;
    padding: 4px;
    width: 34px;
    height: 34px;
    border-radius: 25px;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
}

.cart-item-btn {
    background-color: #3e3e3e;
    width: 40px;
    height: 40px;
    border: 0px solid transparent;
    border-radius: 40px;
    position: relative;
}

.cart-item-btn span {
    background-color: red;
    width: 24px;
    display: inline-flex;
    height: 24px;
    position: absolute;
    border-radius: 50%;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    top: -8px;
    right: -8px;
}

@media(max-width:768px) {

    .section-header {
        flex-direction: column;
        gap: 15px;
        align-items: flex-start;
    }
}