<div class="cart-products">
    {% for product in cart_products %}
        <div class="cart-product">
            <div class="cart-img">
                <img src="{{product.product_image.url}}" class="img-fluid" alt="" width="80" />
            </div>
            <div class="cart-product-info">
                <h5><a href="{% url 'product_details' product.product_id %}">{{product.product_name}}</a></h5>
                <div class="d-flex align-items-center gap-2">
                    <p>₹ {{ product.price }}</p>
                    <span>Qty: {{product.quantity}}</span>
                </div>
            </div>
        </div>
    {% empty %}
        <p class="no-item-text">No item added in cart</p>
    {% endfor %}
</div>
<div class="cart-footer">
    <a href="{% url 'cart' %}" class="view-cart-btn{% if not cart_products %} mb-0{% endif %}">View Cart</a>
    {% if cart_products %}
    <a href="{% url 'checkout' %}" class="checkout-btn">Checkout</a>
    {% endif %}
</div>