{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {% block title %}
      {% endblock %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link href="{% static 'shop/assets/css/style.css' %}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    {% block css %}
    {% endblock %}
  </head>
  <body>
    {% block header %}
    {% include "shop/components/header.html" %}
    {% endblock %}
    {% block body %}
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-4.0.0.min.js" integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script>
      {% if messages %}
        document.addEventListener("DOMContentLoaded", function () {

            {% for message in messages %}
                showToast("{{ message|escapejs }}", "{{ message.tags }}");
            {% endfor %}

        });
      {% endif %}
      function showToast(message, type = "success") {

          let color = "#198754";

          switch(type){
              case "success":
                  color = "#198754";
                  break;

              case "error":
                  color = "#dc3545";
                  break;

              case "warning":
                  color = "#ffc107";
                  break;

              case "info":
                  color = "#0dcaf0";
                  break;
          }

          Toastify({
              text: message,
              duration: 3000,
              gravity: "bottom",
              position: "right",
              close: true,
              stopOnFocus: true,
              style: {
                  background: color
              }
          }).showToast();
      }
      $(document).ready(function(){

          $(".cart-item-btn").click(function(e){
              e.stopPropagation();

              if($(".cart-container").hasClass("active")){
                 $(".cart-container").removeClass("active");
                return;
              }

              fetch("/shop/get-cart/")
              .then(response=>response.json())
              .then(data=>{
                $(".cart-container").toggleClass("active");
                $("#cartContainer").html(data.cart_html)
              })
          });

          $(".cart-container").click(function(e){
              e.stopPropagation();
          });

          $(document).click(function(){
              $(".cart-container").removeClass("active");
          });

      });

      $(".cart-btn-container").on("click", ".cart-btn",function(){
        let productId = this.id
        fetch("/shop/add-to-cart/",{
          method : "POST",
          headers: {
            "Content-Type" : "application/json",
            "X-CSRFToken" : "{{ csrf_token }}"
          },
          body: JSON.stringify({
            product_id : productId
          })
        })
        .then(response => response.json())
        .then(data => {
          $("#cartBtn" + productId).html(`
            <button class="decrement-btn" id="decrementBtn${productId}">-</button>
            <span id="itemNumber${productId}">${data.quantity}</span>
            <button class="increment-btn" id="incrementBtn${productId}">+</button>
          `)
          $("#cartNumber").text(data.cart_count)
          $("#cartContainer").html(data.cart_html)
        })
      })

      $(".cart-btn-container").on("click", ".increment-btn", function(){
        let productId = this.id.replace("incrementBtn", "")

        let stock = parseInt($(this).data("stock"));
        let quantity = parseInt($("#itemNumber" + productId).text());

        if (quantity >= stock) {
            showToast(`Only ${stock} items available`, "error");
            return;
        }

        fetch("/shop/update-cart/", {
          method : "POST",
          headers : {
            "Content-Type" : "application/json",
            "X-CSRFToken" : "{{ csrf_token }}"
          },

          body: JSON.stringify({
            product_id : productId,
            action: "increase"
          })
        })
        .then(response => response.json())
        .then(data => {
          showToast(data.message,data.status);
          $("#itemNumber" + productId).text(data.quantity)
          $("#cartNumber").text(data.cart_count)
          $("#cartContainer").html(data.cart_html)
        })
      })


      $(".cart-btn-container").on("click", ".decrement-btn", function(){

    let productId = this.id.replace("decrementBtn", "")

    fetch("/shop/update-cart/", {
        method: "POST",

        headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": "{{ csrf_token }}"
        },

        body: JSON.stringify({
            product_id: productId,
            action: "decrease"
        })
    })

    .then(response => response.json())

    .then(data => {

        if(data.deleted){

            $("#cartBtn" + productId).html(`
              <button class="cart-btn" id="${productId}">
                   Add to Cart
              </button>
            `)

        } else {

            $("#itemNumber" + productId).text(data.quantity)
        }

        $("#cartNumber").text(data.cart_count)
        $("#cartContainer").html(data.cart_html)
    })
})
    </script>
    {% block js %}
    {% endblock %}
  </body>
</html>
