{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {% block title %}
      {% endblock %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous" />
    <link href="{% static 'shop/assets/css/style.css' %}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet" />
    {% block css %}
    {% endblock %}
  </head>
  <body>
    <nav class="navbar bg-dark navbar-expand-lg" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'shopHome' %}">CARTStore.com</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">CARTStore.com</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav align-items-center justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'shopHome' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'tracking_status' %}">Tracker</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <div class="cart-box position-relative">
              <button type="button" class="cart-item-btn ms-2"><img src="{% static 'shop/assets/images/cart.svg' %}" class="img-fluid" alt="cart" /><span id="cartNumber">0</span></button>
            <div class="cart-container">

            </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    {% block body %}

    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-4.0.0.min.js" integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous"></script>
    <script>
      if (localStorage.getItem('cart') == null) {
        var cart = {}
      } else {
        cart = JSON.parse(localStorage.getItem('cart'))
        updateCart(cart)
      }
      
      $(".cart-btn-container").on("click", ".cart-btn", function(){
        var id = this.id.toString()
        if (cart[id] != undefined) {
          cart[id] = cart[id] + 1
        } else {
          cart[id] = 1
        }
      updateCart(cart)
      })

      function updateCart(cart){
        var sum = 0
        for(item in cart){
            sum = sum + cart[item]
            document.getElementById("cartBtn" + item).innerHTML = `<button class="decrement-btn" id="decrementBtn${item}">-</button><span id="itemNumber${item}">` + cart[item] + `</span><button class="increment-btn" id="incrementBtn${item}">+</button>`
        }
        localStorage.setItem('cart', JSON.stringify(cart))
        document.getElementById('cartNumber').innerHTML = sum
      }
      function addCartBtn(id){
          delete cart[id]
          updateCart(cart)
          
          document.getElementById("cartBtn" + id).innerHTML = `<button class="cart-btn" id="${id}">Add to Cart</button>`
      }
      $(".cart-btn-container").on("click", "button.decrement-btn", function(){
        const id = this.id.slice(12, )
        if(cart[id] >= 2){
          cart[id] = cart[id] - 1
        document.getElementById("itemNumber" + id).innerHTML = cart[id]
        updateCart(cart)  
        }else{
          addCartBtn(id)
        }
      })

      $(".cart-btn-container").on("click", "button.increment-btn", function(){
        const id = this.id.slice(12, )
        cart[id] = cart[id] + 1
        document.getElementById("itemNumber" + id).innerHTML = cart[id]
        updateCart(cart)
      })

      $(document).ready(function(){

          $(".cart-item-btn").click(function(e){
              e.stopPropagation();
              $(".cart-container").toggleClass("active");
          });

          $(".cart-container").click(function(e){
              e.stopPropagation();
          });

          $(document).click(function(){
              $(".cart-container").removeClass("active");
          });

      });
    </script>
    {% block js %}
    {% endblock %}
  </body>
</html>
