{% extends 'shop/base.html' %}
{% block title %} Checkout {% endblock %}
{% block css %}{% endblock %}
{% block body %}
<section class="checkout">
    <form method="POST">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="billing-details">
                        <h2>Billing details</h2>
                            <div class="row">

                                {% csrf_token %}
                                <div class="col-md-6 mb-3">
                                    <label for="FirstName" class="form-label required">First Name</label>
                                    <input type="First Name" class="form-control" id="FirstName" placeholder="First Name" name="first_name" value="{{ request.POST.first_name }}">
                                    {% if errors.firstname %}
                                        <small class="text-danger">
                                            {{ errors.firstname }}
                                        </small>
                                    {% endif %}
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="LastName" class="form-label required">Last Name</label>
                                    <input type="Last Name" class="form-control" id="LastName" placeholder="Last Name" name="last_name" value="{{ request.POST.last_name }}">
                                    {% if errors.lastname %}
                                        <small class="text-danger">
                                            {{ errors.lastname }}
                                        </small>
                                    {% endif %}
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="Email" class="form-label required">Email</label>
                                    <input type="email" class="form-control" id="Email" placeholder="Email" name="email" value="{{ request.POST.email }}">
                                    {% if errors.email %}
                                        <small class="text-danger">
                                            {{ errors.email }}
                                        </small>
                                    {% endif %}
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="Phone" class="form-label required">Phone</label>
                                    <input type="tel" class="form-control" id="Phone" placeholder="Phone" name="phone" value="{{ request.POST.phone }}">
                                    {% if errors.phone %}
                                        <small class="text-danger">
                                            {{ errors.phone }}
                                        </small>
                                    {% endif %}
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="Address" class="form-label required">Address 1</label>
                                    <input type="text" class="form-control" id="Address" placeholder="Address" name="address1" value="{{ request.POST.address1 }}">
                                    {% if errors.address1 %}
                                        <small class="text-danger">
                                            {{ errors.address1 }}
                                        </small>
                                    {% endif %}
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="Address2" class="form-label">Address 2</label>
                                    <input type="text" class="form-control" id="Address2" placeholder="Address2" name="address2">
                                </div>
                                <div class="col-md-5 mb-3">
                                    <label for="State" class="form-label required">State</label>
                                    <select id="State" class="form-select" name="state" value="{{request.POST.state}}">
                                        <option>Haryana</option>
                                        <option>Uttar Pradesh</option>
                                        <option>Madhya Pradesh</option>
                                        <option>Delhi</option>
                                    </select>
                                    {% if errors.state %}
                                        <small class="text-danger">
                                            {{ errors.state }}
                                        </small>
                                    {% endif %}
                                </div>
                                <div class="col-md-5 mb-3">
                                    <label for="City" class="form-label required">City</label>
                                    <input type="text" class="form-control" id="City" placeholder="City" name="city" value="{{request.POST.city}}">
                                    {% if errors.city %}
                                        <small class="text-danger">
                                            {{ errors.city }}
                                        </small>
                                    {% endif %}
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label for="pincode" class="form-label required">Pin Code</label>
                                    <input type="number" class="form-control" id="pincode" placeholder="Pin Code" name="pincode" value="{{request.POST.pincode}}">
                                    {% if errors.pincode %}
                                        <small class="text-danger">
                                            {{ errors.pincode }}
                                        </small>
                                    {% endif %}
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="ordernotes" class="form-label">Order Notes</label>
                                    <textarea class="form-control" id="ordernotes" rows="5" placeholder="Notes about your order" name="order_notes" value="{{request.POST.order_notes}}"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="order-box sticky-top">
                            <h2>Your Order</h2>
                            {% for product in cart_products %}
                            <div class="product-item mb-3">
                                <p class="mb-0">{{product.product_name}}  <strong>× {{product.quantity}}</strong></p>
                                <span>₹{{product.price}}</span>
                            </div>
                            {% endfor %}
                            <div class="divider"></div>
                            <div class="subtotal mb-2">
                                <p class="mb-0">Subtotal</p>
                                <span>₹{{subtotal}}</span>
                            </div>
                            <div class="shipping mb-2">
                                <p class="mb-0">Shipping</p>
                                <span>{{shipping}}</span>
                            </div>
                            <div class="tax mb-2">
                                <p class="mb-0">Tax</p>
                                <span>₹{{tax}}</span>
                            </div>
                            <div class="divider-dashed"></div>
                            <div class="total">
                                <p class="mb-0">Total</p>
                                <span>₹{{total_price}}</span>
                            </div>
                            <div class="divider-dashed"></div>
                            <div class="payment-method mb-3">
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="radio" name="payment_method" id="COD" value="COD" checked>
                                    <label class="form-check-label" for="COD">
                                        Cash on Delivery
                                    </label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="radio" name="payment_method" id="UPI" value="UPI">
                                    <label class="form-check-label" for="UPI">
                                        UPI
                                    </label>
                                </div>
                                {% if errors.payment_method %}
                                    <small class="text-danger">
                                        {{ errors.payment_method }}
                                    </small>
                                {% endif %}
                            </div>
                            <div class="agreement mb-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="accept" id="termsconditions" {% if request.POST.accept %}checked{% endif %}>
                                    <label class="form-check-label" for="termsconditions">
                                        I have read and agree to the website terms and conditions
                                    </label>
                                </div>
                                {% if errors.accept %}
                                    <small class="text-danger">
                                        {{ errors.accept }}
                                    </small>
                                {% endif %}
                            </div>
                            <div class="place-order-btn">
                                <button type="submit">Place Order</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
{% endblock %}