{% extends 'shop/base.html' %}
{% block title %}
  Home
{% endblock %}
{% block css %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css" />
{% endblock %}
{% block body %}
{% if products %}
{% for category_products in products %}
  <section class="featured-products">
    <div class="container">
      <div class="section-header">
        <div class="header-info">
          <h2>{{ category_products.category }}</h2>
          <p>Do not miss the current offers until the end of month.</p>
        </div>
        <a href="#" class="view-all-btn">View All →</a>
      </div>
      
      <div class="products-wrapper">
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-button-prev"></div>
              {% for product in category_products.products %}
                <div class="product-card swiper-slide">
                  <span class="discount-badge">41%</span>
                  <div class="product-image">
                    {% if product.product_image %}
                      <img src="{{ product.product_image.url }}" alt="Product" />
                    {% endif %}
                  </div>
                  <div class="product-info">
                    <h3 id="product-name-{{product.product_id}}"><a href="{% url 'product_details' product.product_id %}">{{ product.product_name }}</a></h3>
                    <span class="stock">IN STOCK</span>
                    <div class="rating">
                      ★★★★☆ <span>1</span>
                    </div>
                    <div class="price-box">
                      <span class="old-price">₹ {{ product.price }}</span>
                      <span class="price">₹ {{ product.price }}</span>
                    </div>
                    <div class="cart-btn-container" id="cartBtn{{product.product_id}}" data-product-id={{product.product_id}}>
                      {% if product.cart_quantity > 0 %}
                          <button class="decrement-btn" id="decrementBtn{{ product.product_id }}">-</button>
                          <span id="itemNumber{{ product.product_id }}">{{ product.cart_quantity }}</span>
                          <button class="increment-btn" id="incrementBtn{{ product.product_id }}">+</button>
                      {% else %}
                      <button class="cart-btn" id="{{product.product_id}}">Add to Cart</button>
                      {% endif %}
                    </div>
                  </div>
                </div>
              {% endfor %}
            <div class="swiper-button-next"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endfor %}
  {% endif %}
{% endblock %}

{% block js %}
  <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper('.mySwiper', {
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev'
      },
      spaceBetween: 0,
      breakpoints: {
        640: {
          slidesPerView: 2
        },
        768: {
          slidesPerView: 4
        },
        1024: {
          slidesPerView: 5
        }
      }
    })
  </script>
{% endblock %}
