{% extends 'shop/base.html' %}
{% block title %} product details {% endblock %}
{% block css %}{% endblock %}
{% block body %}
<main>
    <section class="product-details">
    <div class="container product-container">
        <div class="row">
            <div class="col-lg-5">
                <img src="{{product.product_image.url}}" class="img-fluid w-100" alt="" />
            </div>
            <div class="col-lg-7">
                <h1>{{product.product_name}}</h1>
                {% if product.stock > 0 %}
                    <span class="badge bg-success">In Stock</span>
                {% else %}
                    <span class="badge bg-danger">Out of Stock</span>
                {% endif %}
                <div class="price-box d-flex align-items-center gap-2">
                    <div class="old-price">₹ {{product.price}}</div>
                    <div class="price">₹ {{product.price}}</div>
                </div>
                
                <p>{{product.product_description}}</p>
                <div>
                    <button type="button" class="btn btn-primary">Buy Now</button>
                    <button type="button" class="btn btn-primary">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
</section>
</main>
{% endblock %}

{% block js %}{% endblock %}